@font-face {
  font-family: 'Futura PT Demi';
  src: url("../fonts/futura/FuturaPTDemi.eot");
  src: url("../fonts/futura/FuturaPTDemi.eot?#iefix") format("embedded-opentype"), url("../fonts/futura/FuturaPTDemi.woff2") format("woff2"), url("../fonts/futura/FuturaPTDemi.woff") format("woff"), url("../fonts/futura/FuturaPTDemi.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/futura/FuturaPTBook.eot");
  src: url("../fonts/futura/FuturaPTBook.eot?#iefix") format("embedded-opentype"), url("../fonts/futura/FuturaPTBook.woff2") format("woff2"), url("../fonts/futura/FuturaPTBook.woff") format("woff"), url("../fonts/futura/FuturaPTBook.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/futura/FuturaPTLight.eot");
  src: url("../fonts/futura/FuturaPTLight.eot?#iefix") format("embedded-opentype"), url("../fonts/futura/FuturaPTLight.woff2") format("woff2"), url("../fonts/futura/FuturaPTLight.woff") format("woff"), url("../fonts/futura/FuturaPTLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/futura/FuturaPTBold.eot");
  src: url("../fonts/futura/FuturaPTBold.eot?#iefix") format("embedded-opentype"), url("../fonts/futura/FuturaPTBold.woff2") format("woff2"), url("../fonts/futura/FuturaPTBold.woff") format("woff"), url("../fonts/futura/FuturaPTBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

*:active, *:focus {
  outline: none !important;
  text-decoration: none !important; }

html {
  height: 100%; }

body {
  min-height: 100%;
  font-family: 'Futura PT';
  font-weight: 400;
  font-size: 15px;
  color: #031125;
  background-image: -webkit-linear-gradient(215deg, #042247 0%, #042247 54%, #042247 100%);
  background-image: linear-gradient(-125deg, #042247 0%, #042247 54%, #042247 100%); }

.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
  clear: both; }

h1, h2, h3, h4, h5, h6, ul, ol {
  margin: 0;
  padding: 0; }

.row-eq-height {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

@media (min-width: 1300px) {
  .container {
    width: 1234px; } }

@-webkit-keyframes moveTop {
  0% {
    top: 0; }
  50% {
    top: -20px; }
  100% {
    top: 0; } }

@keyframes moveTop {
  0% {
    top: 0; }
  50% {
    top: -20px; }
  100% {
    top: 0; } }

@-webkit-keyframes moveLeft {
  0% {
    left: 0; }
  50% {
    left: -20px; }
  100% {
    left: 0; } }

@keyframes moveLeft {
  0% {
    left: 0; }
  50% {
    left: -20px; }
  100% {
    left: 0; } }

@-webkit-keyframes moveLeftRight {
  0% {
    left: 0; }
  50% {
    left: 50px; }
  100% {
    left: 0; } }

@keyframes moveLeftRight {
  0% {
    left: 0; }
  50% {
    left: 50px; }
  100% {
    left: 0; } }

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0); } }

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0); } }

/*--== buttons ==--*/
.butn {
  display: inline-block;
  min-width: 230px;
  padding: 25px 20px 24px;
  -webkit-box-shadow: 0 0 18px #00b9ff, 0 0 62px rgba(0, 185, 255, 0.65);
          box-shadow: 0 0 18px #00b9ff, 0 0 62px rgba(0, 185, 255, 0.65);
  -webkit-border-radius: 33px;
          border-radius: 33px;
  background-color: #00b9ff;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.68px;
  text-align: center;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.butn:hover {
  text-decoration: none;
  -webkit-box-shadow: 0 0 18px #ffff00, 0 0 62px rgba(255, 255, 0, 0.65);
          box-shadow: 0 0 18px #ffff00, 0 0 62px rgba(255, 255, 0, 0.65);
  background-color: #ffff00;
  color: #031125; }

.butn_yellow {
  -webkit-box-shadow: 0 0 18px #ffff00, 0 0 62px rgba(255, 255, 0, 0.65);
          box-shadow: 0 0 18px #ffff00, 0 0 62px rgba(255, 255, 0, 0.65);
  background-color: #ffff00;
  color: #031125; }

.butn_yellow:hover {
  -webkit-box-shadow: 0 0 18px #00b9ff, 0 0 62px rgba(0, 185, 255, 0.65);
          box-shadow: 0 0 18px #00b9ff, 0 0 62px rgba(0, 185, 255, 0.65);
  color: #ffffff;
  background-color: #00b9ff; }

/*--== /buttons ==--*/
.header {
  padding-top: 50px; }

@media (max-width: 500px) {
  .header {
    padding-top: 17px; } }

.logo img {
  max-width: 100%; }

@media (max-width: 500px) {
  .logo {
    max-width: 81px; } }

.wrap-on-mob {
  text-align: justify; }

.wrap-on-mob:after {
  content: "";
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  display: inline-block; }

@media (max-width: 991px) {
  .wrap-on-mob {
    padding-top: 197px; } }

.wrap-on-mob__item {
  display: inline-block;
  vertical-align: top; }

@media (max-width: 991px) {
  .wrap-on-mob__item:last-child {
    padding: 20px 0;
    width: 100%;
    text-align: center; }
  .wrap-on-mob__item:last-child .butn {
    min-width: 290px; } }

@media (max-width: 991px) {
  .wrap-on-mob {
    display: none; } }

@media (min-width: 992px) {
  .wrap-on-mob {
    display: block !important; } }

.contact {
  color: #ffffff;
  font-size: 16px;
  text-align: left; }

@media (max-width: 600px) {
  .contact {
    max-width: 125px; } }

@media (max-width: 600px) {
  .contact {
    font-size: 14px; } }

.contact__city {
  text-transform: uppercase;
  font-size: 14px; }

@media (max-width: 600px) {
  .contact__city {
    font-size: 12px; } }

.contact__phone {
  font-weight: 700;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.contact__phone:hover {
  opacity: .8;
  text-decoration: none;
  color: #ffffff; }

@media (max-width: 991px) {
  .header-butn {
    padding-top: 40px; } }

#hamburger {
  display: none;
  float: right;
  width: 30px;
  height: 18px;
  position: relative;
  margin: 17px 0 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

@media (max-width: 991px) {
  #hamburger {
    display: block; } }

@media (max-width: 500px) {
  #hamburger {
    margin-top: 0; } }

#hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#hamburger span:nth-child(1) {
  top: 0; }

#hamburger span:nth-child(2), #hamburger span:nth-child(3) {
  top: 9px; }

#hamburger span:nth-child(4) {
  top: 18px; }

#hamburger.open span:nth-child(1) {
  top: 9px;
  width: 0;
  left: 50%; }

#hamburger.open span {
  background: #ff0000; }

#hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

#hamburger.open span:nth-child(4) {
  top: 9px;
  width: 0;
  left: 50%; }

main {
  overflow-x: hidden; }

.banner {
  background-image: url(../img/bg-banner.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  min-height: 1076px; }

@media (max-width: 1300px) {
  .banner {
    background-size: auto 770px;
    min-height: 770px; } }

.banner__title {
  color: #ffffff;
  font-size: 84px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 13px; }

@media (max-width: 1199px) {
  .banner__title {
    font-size: 65px; } }

@media (max-width: 991px) {
  .banner__title {
    text-align: center; } }

@media (max-width: 600px) {
  .banner__title {
    font-size: 33px; } }

.banner__title span {
  color: #00b9ff; }

.banner__subtitle {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.48px;
  line-height: 1.1;
  margin-bottom: 67px; }

@media (max-width: 1199px) {
  .banner__subtitle {
    font-size: 26px; } }

@media (max-width: 991px) {
  .banner__subtitle {
    margin-bottom: 45px;
    text-align: center; } }

@media (max-width: 600px) {
  .banner__subtitle {
    font-size: 20px;
    margin-bottom: 30px; } }

.banner__subtitle span {
  font-weight: 700; }

.banner__list {
  list-style: none;
  overflow: hidden;
  margin: 0 -15px; }

@media (max-width: 600px) {
  .banner__list {
    margin: 0 auto 50px;
    max-width: 318px; } }

.banner__list li {
  position: relative;
  padding: 0 15px 0 57px;
  display: block;
  width: 50%;
  float: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  margin-bottom: 25px; }

@media (max-width: 600px) {
  .banner__list li {
    width: 100%;
    float: none;
    font-size: 12px;
    margin-bottom: 16px; } }

.banner__list li:before {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 14px;
  left: 15px;
  top: 0;
  background: url("../img/icon-check.png") no-repeat center;
  background-size: contain; }

.banner .calc-form {
  padding-top: 14px; }

.banner .row {
  margin-bottom: 122px; }

@media (max-width: 1300px) {
  .banner .row {
    margin-bottom: 50px; } }

.calc-form__title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.9px;
  margin-bottom: 50px; }

@media (max-width: 991px) {
  .calc-form__title {
    font-size: 26px;
    text-align: center;
    margin-bottom: 45px; } }

.calc-form form {
  max-width: 318px; }

.calc-form__input {
  margin-bottom: 45px; }

.calc-form__hint {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.48px; }

.calc-form__hint_city {
  width: 65px;
  display: inline-block; }

.calc-form__input-city {
  color: #ffffff;
  display: inline-block;
  font-family: "Futura PT Demi";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.9px;
  background: transparent;
  border-top: 0;
  border-left: 0;
  border-bottom: 1px solid #4c617b;
  border-right: 0;
  width: -webkit-calc(100% - 70px);
  width: calc(100% - 70px); }

.calc-form .butn {
  width: 100%; }

@media (max-width: 991px) {
  .banner .calc-form {
    max-width: 318px;
    margin: 0 auto; } }

@media (max-width: 600px) {
  .banner .calc-form {
    margin-bottom: 50px; } }

.slider-container {
  width: 100% !important;
  margin-bottom: 8px; }

.slider-container .back-bar .selected-bar {
  width: 100%;
  height: 4px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background: #ffffff;
  margin-bottom: 8px; }

.slider-container .back-bar .pointer-label {
  color: #ffffff;
  font-family: "Futura PT Demi";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.54px;
  background: transparent;
  top: -27px; }

.slider-container .back-bar .pointer {
  width: 12px;
  height: 12px;
  -webkit-box-shadow: 0 0 18px #00b9ff, 0 0 62px rgba(0, 185, 255, 0.65);
          box-shadow: 0 0 18px #00b9ff, 0 0 62px rgba(0, 185, 255, 0.65);
  background: #00b9ff;
  cursor: pointer;
  border: none;
  top: -4px; }

.clients-logo {
  text-align: justify; }

.clients-logo:after {
  content: "";
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  display: inline-block; }

@media (max-width: 991px) {
  .clients-logo {
    margin-bottom: 90px; } }

@media (max-width: 767px) {
  .clients-logo {
    overflow: hidden;
    margin-left: -10;
    margin-right: -10px; } }

.clients-logo__item {
  display: inline-block;
  vertical-align: top; }

@media (max-width: 991px) {
  .clients-logo__item {
    max-width: 95px; } }

@media (max-width: 767px) {
  .clients-logo__item {
    display: block;
    float: left;
    width: 33.3333%;
    padding: 0 10px;
    max-width: 100%;
    margin-bottom: 10px;
    text-align: center; }
  .clients-logo__item:nth-child(3n+1) {
    clear: left; } }

.clients-logo__item img {
  max-width: 100%; }

section {
  position: relative;
  z-index: 99; }

.circle-bg {
  z-index: 1;
  position: relative; }

.circle-bg:before {
  content: "";
  display: block;
  position: absolute;
  background: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  height: 2485px;
  width: 2485px;
  z-index: 0;
  left: 50%;
  -webkit-transform: translate(-44%, -430px);
      -ms-transform: translate(-44%, -430px);
          transform: translate(-44%, -430px); }

@media (max-width: 1300px) {
  .circle-bg:before {
    -webkit-transform: translate(-44%, -200px);
        -ms-transform: translate(-44%, -200px);
            transform: translate(-44%, -200px);
    height: 2288px;
    width: 2288px; } }

@media (max-width: 991px) {
  .circle-bg:before {
    -webkit-transform: translate(-44%, -100px);
        -ms-transform: translate(-44%, -100px);
            transform: translate(-44%, -100px);
    height: 2344px;
    width: 2344px; } }

@media (max-width: 702px) {
  .circle-bg:before {
    height: 2265px;
    width: 2265px; } }

@media (max-width: 620px) {
  .circle-bg:before {
    -webkit-transform: translate(-42%, -100px);
        -ms-transform: translate(-42%, -100px);
            transform: translate(-42%, -100px);
    height: 2149px;
    width: 2149px; } }

.circle-bg_2:before {
  height: 2050px;
  width: 2050px;
  -webkit-transform: translate(-52%, -253px);
      -ms-transform: translate(-52%, -253px);
          transform: translate(-52%, -253px); }

@media (max-width: 1199px) {
  .circle-bg_2:before {
    -webkit-transform: translate(-52%, -130px);
        -ms-transform: translate(-52%, -130px);
            transform: translate(-52%, -130px); } }

@media (max-width: 991px) {
  .circle-bg_2:before {
    height: 1573px;
    width: 1573px;
    -webkit-transform: translate(-52%, -398px);
        -ms-transform: translate(-52%, -398px);
            transform: translate(-52%, -398px); } }

@media (max-width: 767px) {
  .circle-bg_2:before {
    height: 1963px;
    width: 1963px; } }

@media (max-width: 484px) {
  .circle-bg_2:before {
    -webkit-transform: translate(-52%, -250px);
        -ms-transform: translate(-52%, -250px);
            transform: translate(-52%, -250px); } }

.section-title {
  color: #031125;
  font-size: 84px;
  font-weight: 700;
  letter-spacing: -3.36px;
  line-height: 1.2; }

@media (max-width: 1199px) {
  .section-title {
    font-size: 65px; } }

@media (max-width: 991px) {
  .section-title {
    font-size: 34px; } }

.regions .section-title {
  margin-bottom: 45px; }

@media (max-width: 991px) {
  .regions .section-title {
    margin-bottom: 30px; } }

.event__photo {
  margin: 0 -5px;
  overflow: hidden; }

@media (max-width: 991px) {
  .event__photo {
    margin-bottom: 30px; } }

.event__photo-item {
  padding: 0 5px;
  width: 25%;
  float: left; }

.event__photo-item:first-child {
  width: 100%;
  margin-bottom: 10px; }

.event__photo-item img {
  max-width: 100%; }

.event__title {
  color: #00b9ff;
  font-family: "Futura PT";
  font-size: 45px;
  font-weight: 700;
  letter-spacing: -1.8px;
  line-height: 1;
  max-width: 461px;
  margin-bottom: 40px; }

@media (max-width: 991px) {
  .event__title {
    max-width: 100%;
    font-size: 25px;
    margin-bottom: 27px; } }

.event__date, .event__users {
  color: #aeb2b9;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.54px;
  padding-left: 30px;
  line-height: 1;
  position: relative; }

@media (max-width: 991px) {
  .event__date, .event__users {
    font-size: 16px; } }

.event__date:before, .event__users:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0; }

.event__date {
  margin-bottom: 18px; }

.event__date:before {
  width: 14px;
  height: 14px;
  background: url("../img/icon-calend.png") no-repeat center;
  background-size: contain; }

.event__users {
  margin-bottom: 43px; }

.event__users:before {
  width: 16px;
  height: 16px;
  background: url("../img/icon-user.png") no-repeat center;
  background-size: contain; }

.event__subtitle {
  color: #031125;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1.2px;
  line-height: 1;
  margin-bottom: 32px; }

@media (max-width: 991px) {
  .event__subtitle {
    font-size: 18px;
    margin-bottom: 26px; } }

.event__description {
  color: #031125;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: -0.36px; }

@media (max-width: 991px) {
  .event__description {
    font-size: 14px; } }

.event__description p {
  margin-bottom: 30px; }

.event__description p:last-child {
  margin-bottom: 0; }

.numberedSlider__nav-wrap {
  text-align: right;
  margin-bottom: 70px; }

@media (max-width: 991px) {
  .numberedSlider__nav-wrap {
    margin-bottom: 30px; } }

.numberedSlider__nav {
  display: inline-block;
  padding: 0 30px;
  position: relative; }

@media (max-width: 991px) {
  .numberedSlider__nav {
    display: block; } }

.numberedSlider__nav .slick-arrow {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0; }

.numberedSlider__nav .slick-arrow:before, .numberedSlider__nav .slick-arrow:after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 10px;
  background: #dddedf;
  left: 50%;
  margin-left: -5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.numberedSlider__nav .slick-arrow:before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
  margin-top: -2px; }

.numberedSlider__nav .slick-arrow:after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
  margin-top: 4px; }

.numberedSlider__nav .slick-arrow:hover:before, .numberedSlider__nav .slick-arrow:hover:after {
  -webkit-box-shadow: 0 0 8px #00b9ff, 0 0 29px rgba(0, 185, 255, 0.55);
          box-shadow: 0 0 8px #00b9ff, 0 0 29px rgba(0, 185, 255, 0.55);
  background: #00b9ff;
  opacity: 0.68; }

.numberedSlider-arrow-right {
  right: 0; }

.numberedSlider-arrow-right:before {
  -webkit-transform: rotate(45deg) !important;
      -ms-transform: rotate(45deg) !important;
          transform: rotate(45deg) !important; }

.numberedSlider-arrow-right:after {
  -webkit-transform: rotate(-45deg) !important;
      -ms-transform: rotate(-45deg) !important;
          transform: rotate(-45deg) !important; }

.numberedSlider-arrow-left {
  left: 0; }

.numberedSlider__dots {
  list-style: none;
  padding: 0 10px; }

.numberedSlider__dots li {
  display: none;
  min-width: 32px;
  height: 30px;
  line-height: 30px;
  color: #031125;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1.2px;
  vertical-align: top;
  text-align: center; }

.numberedSlider__dots .slick-active {
  display: block; }

.equipment {
  padding-top: 110px; }

@media (max-width: 991px) {
  .equipment {
    padding-top: 80px; } }

.equipment .section-title {
  margin-bottom: 100px; }

@media (max-width: 991px) {
  .equipment .section-title {
    margin-bottom: 22px; } }

.equipment__title {
  color: #031125;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: -1.8px;
  line-height: 1;
  margin-bottom: 35px; }

@media (max-width: 991px) {
  .equipment__title {
    font-size: 25px;
    margin-bottom: 25px; } }

.equipment__subtitle {
  color: #b4b8be;
  font-family: "Futura PT";
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1.2px;
  line-height: 1;
  margin-bottom: 55px; }

@media (max-width: 991px) {
  .equipment__subtitle {
    font-size: 20px;
    margin-bottom: 25px; } }

.equipment__text {
  color: #031125;
  font-family: "Futura PT - Book";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: -0.36px;
  margin-bottom: 37px; }

@media (max-width: 991px) {
  .equipment__text {
    font-size: 14px;
    margin-bottom: 30px; } }

.equipment__accent-text {
  color: #00b9ff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.8px;
  line-height: 1; }

@media (max-width: 991px) {
  .equipment__accent-text {
    font-size: 18px;
    margin-bottom: 20px; } }

.equipment__photo {
  overflow: hidden;
  margin: 0 -15px; }

@media (max-width: 991px) {
  .equipment__photo {
    margin: 0 -10px; } }

.equipment__photo-item {
  width: 33.33333%;
  float: left;
  padding: 0 15px;
  margin-bottom: 30px; }

@media (max-width: 991px) {
  .equipment__photo-item {
    padding: 0 10px;
    margin-bottom: 20px; } }

@media (max-width: 482px) {
  .equipment__photo-item {
    width: 50%;
    display: none; }
  .equipment__photo-item:nth-child(odd) {
    clear: left; }
  .equipment__photo-item:nth-child(1), .equipment__photo-item:nth-child(2), .equipment__photo-item:nth-child(3), .equipment__photo-item:nth-child(4), .equipment__photo-item:nth-child(5), .equipment__photo-item:nth-child(6) {
    display: block; } }

.equipment__photo-item img {
  max-width: 100%; }

.locations {
  padding-top: 315px;
  background-image: url("../img/bg-locations.png");
  background-repeat: no-repeat;
  background-position: center 197px; }

@media (max-width: 991px) {
  .locations {
    padding-top: 215px;
    background: transparent; } }

.locations .section-title {
  margin-bottom: 140px; }

@media (max-width: 991px) {
  .locations .section-title {
    margin-bottom: 55px; } }

.locations .row [class*='col-']:first-child {
  padding-bottom: 30px; }

.locations__more {
  position: absolute;
  bottom: 0;
  left: 15px;
  color: #00b9ff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.8px; }

.locations__more:hover {
  color: #00b9ff;
  text-decoration: none;
  opacity: .8; }

.section-title_wh {
  color: #ffffff; }

@media (max-width: 991px) {
  .locations .row-eq-height {
    display: block; }
  .locations .row-eq-height [class*='col-']:first-child {
    margin-bottom: 50px; } }

@media (max-width: 550px) {
  .locations .row-eq-height [class*='col-'] {
    width: 100%;
    float: none; } }

.location-tabs {
  list-style: none; }

.location-tabs a {
  color: #ffffff;
  font-size: 30px;
  line-height: 1;
  font-weight: 300;
  letter-spacing: -1.2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

@media (max-width: 991px) {
  .location-tabs a {
    font-size: 20px; } }

.location-tabs a:hover {
  color: #00b9ff;
  text-decoration: none; }

.location-tabs li {
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 45px;
  position: relative;
  line-height: 1; }

.location-tabs li:before {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 0 7.5px 8px;
  border-color: transparent transparent transparent #00b9ff; }

@media (max-width: 991px) {
  .location-tabs li:before {
    top: 4px; } }

@media (max-width: 991px) {
  .location-tabs li {
    margin-bottom: 16px; } }

.location-tabs li.active {
  padding-left: 20px; }

.location-tabs li.active:before {
  left: 0; }

.location-tabs li.active a {
  color: #00b9ff;
  font-family: "Futura PT";
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1.44px; }

@media (max-width: 991px) {
  .location-tabs li.active a {
    font-size: 22px; } }

/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane, .pill-content > .pill-pane {
  display: block;
  /* undo display:none          */
  height: 0;
  /* height:0 is also invisible */
  overflow: hidden;
  /* no-overflow                */ }

.tab-content > .active, .pill-content > .active {
  height: auto;
  /* let the content decide it  */ }

/* bootstrap hack end */
.locationSlider__item {
  padding: 0 5px; }

.location {
  max-width: 270px;
  margin: 0 auto; }

.location__img {
  margin-bottom: 40px; }

@media (max-width: 991px) {
  .location__img {
    margin-bottom: 30px; } }

.location__img img {
  max-width: 100%;
  max-height: 193px; }

.location__title {
  color: #ffffff;
  font-family: "Futura PT";
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1.2px;
  line-height: 1;
  margin-bottom: 25px; }

@media (max-width: 991px) {
  .location__title {
    font-size: 20px;
    margin-bottom: 20px; } }

.location__text {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: -0.36px;
  margin-bottom: 20px; }

@media (max-width: 991px) {
  .location__text {
    font-size: 14px; } }

.location__link a {
  color: #00b9ff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
  letter-spacing: 0.54px; }

.location__link a:hover {
  text-decoration: none;
  color: #00b9ff; }

.locationSlider__dots {
  list-style: none;
  padding-top: 60px;
  padding-bottom: 20px;
  text-align: center; }

@media (max-width: 991px) {
  .locationSlider__dots {
    padding-top: 30px; } }

.locationSlider__dots button {
  display: none; }

.locationSlider__dots li {
  display: inline-block;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.locationSlider__dots li + li {
  margin-left: 12px; }

.locationSlider__dots li.slick-active {
  -webkit-box-shadow: 0 0 18px #00b9ff, 0 0 62px rgba(0, 185, 255, 0.65);
          box-shadow: 0 0 18px #00b9ff, 0 0 62px rgba(0, 185, 255, 0.65);
  background: #00b9ff; }

.autorization {
  padding-top: 165px; }

@media (max-width: 991px) {
  .autorization {
    padding-top: 85px; } }

.autorization .section-title {
  padding-top: 132px;
  margin-bottom: 60px; }

@media (max-width: 991px) {
  .autorization .section-title {
    padding-top: 0;
    margin-bottom: 35px; } }

.autorization__img img {
  max-width: 100%; }

.autorization__text {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: -0.36px; }

@media (max-width: 991px) {
  .autorization__text {
    font-size: 14px;
    margin-bottom: 50px; } }

.section-subtitle {
  color: #042247;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: -1.8px;
  line-height: 1;
  margin-bottom: 85px; }

@media (max-width: 991px) {
  .section-subtitle {
    font-size: 25px;
    margin-bottom: 50px; } }

.team-list {
  list-style: none; }

.team-list li {
  color: #042247;
  font-size: 30px;
  line-height: 1;
  font-weight: 300;
  letter-spacing: -1.2px;
  margin-bottom: 40px; }

@media (max-width: 991px) {
  .team-list li {
    font-size: 20px;
    margin-bottom: 30px; } }

.team-list li b {
  font-weight: 700; }

.ordered-list-wrap {
  padding-left: 40px;
  border-left: 4px solid #00b9ff; }

@media (min-width: 1300px) {
  .ordered-list-wrap {
    padding-left: 140px; } }

@media (max-width: 767px) {
  .ordered-list-wrap {
    padding-left: 0;
    padding-top: 40px;
    border-left: none;
    border-top: 4px solid #00b9ff; } }

.ordered-list {
  list-style: none;
  counter-reset: li; }

.ordered-list li {
  counter-increment: li;
  color: #042247;
  font-size: 30px;
  font-weight: 300;
  line-height: 1;
  position: relative;
  padding-left: 52px;
  margin-bottom: 40px; }

@media (max-width: 991px) {
  .ordered-list li {
    font-size: 20px;
    margin-bottom: 30px;
    padding-left: 28px; } }

.ordered-list li:before {
  content: counter(li) ".";
  font-weight: 700;
  color: #00b9ff;
  display: block;
  position: absolute;
  left: 0;
  top: 0; }

.news {
  padding-top: 160px; }

.news .section-subtitle {
  margin-bottom: 125px; }

@media (max-width: 991px) {
  .news .section-subtitle {
    margin-bottom: 40px; } }

@media (max-width: 991px) {
  .news {
    padding-top: 80px; }
  .news .row [class*='col-'] + [class*='col-'] .article-thumb {
    padding-top: 30px;
    border-top: 4px solid #b7ebff; } }

.news .container {
  position: relative; }

.news .read-more {
  position: absolute;
  right: 15px;
  top: 22px;
  color: #00b9ff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.8px;
  line-height: 1; }

@media (max-width: 1199px) {
  .news .read-more {
    top: 6px; } }

@media (max-width: 991px) {
  .news .read-more {
    top: initial;
    top: unset;
    right: initial;
    right: unset;
    bottom: 0;
    left: 15px; } }

.news .read-more:hover {
  text-decoration: none;
  color: #00b9ff;
  opacity: .8; }

.article-thumb {
  display: block;
  color: #031125;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-bottom: 30px; }

.article-thumb__title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1.2px;
  line-height: 1;
  margin-bottom: 30px; }

@media (max-width: 991px) {
  .article-thumb__title {
    font-size: 25px;
    margin-bottom: 20px; } }

.article-thumb__subtitle {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.8px;
  line-height: 1;
  margin-bottom: 30px; }

@media (max-width: 991px) {
  .article-thumb__subtitle {
    margin-bottom: 0; } }

.article-thumb__date {
  color: #b9bdc2;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.54px;
  line-height: 1;
  position: relative;
  padding-left: 33px;
  margin-bottom: 28px; }

@media (max-width: 991px) {
  .article-thumb__date {
    display: none; } }

.article-thumb__date:before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  background: url("../img/icon-calend.png") no-repeat center;
  background-size: contain;
  top: 0;
  left: 0; }

.article-thumb__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7; }

@media (max-width: 991px) {
  .article-thumb__text {
    display: none; } }

.article-thumb__text P {
  margin-bottom: 15px; }

.article-thumb:hover {
  text-decoration: none;
  color: #00b9ff; }

.calc-section {
  padding-top: 120px;
  background-image: url("../img/bg-footer.png");
  background-repeat: no-repeat;
  background-position: bottom center; }

.calc-section .calc-form {
  padding-top: 207px; }

@media (max-width: 991px) {
  .calc-section .calc-form {
    padding-top: 76px; }
  .calc-section .calc-form .calc-form__title {
    font-size: 20px; }
  .calc-section .calc-form form {
    max-width: 318px;
    margin: 0 auto; } }

.calc-section__img img {
  max-width: 100%; }

.calc-form__mail {
  color: #fefefe;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.54px;
  padding-top: 34px; }

@media (max-width: 991px) {
  .calc-form__mail {
    text-align: center; } }

.calc-form__mail a {
  color: #00b9ff;
  letter-spacing: 0.54px;
  text-decoration: underline; }

.footer {
  position: relative;
  z-index: 99;
  padding-top: 160px;
  text-align: justify;
  margin-bottom: 42px; }

.footer:after {
  content: "";
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  display: inline-block; }

@media (max-width: 991px) {
  .footer {
    padding-top: 76px;
    margin-bottom: 0; } }

.footer-item {
  display: inline-block;
  vertical-align: top; }

@media (max-width: 991px) {
  .footer-item {
    display: block;
    margin-bottom: 35px; }
  .footer-item:last-child {
    margin-bottom: 0; }
  .footer-item:nth-child(2), .footer-item:nth-child(3) {
    width: 49%;
    display: inline-block; }
  .footer-item:nth-child(3) {
    overflow: hidden; }
  .footer-item:nth-child(3) .contact {
    float: right; } }

.social {
  padding-top: 17px; }

.social a {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.social a + a {
  margin-left: 30px; }

@media (max-width: 991px) {
  .social {
    padding-top: 0;
    text-align: center; } }

.social__g {
  background-image: url("../img/icon-google-plus.png"); }

.social__g:hover {
  background-image: url("../img/icon-google-plus-hov.png"); }

.social__tw {
  background-image: url("../img/icon-twitter.png"); }

.social__tw:hover {
  background-image: url("../img/icon-twitter-hov.png"); }

.social__fb {
  background-image: url("../img/icon-facebook.png"); }

.social__fb:hover {
  background-image: url("../img/icon-facebook-hov.png"); }

.social__in {
  background-image: url("../img/icon-linkedin.png"); }

.social__in:hover {
  background-image: url("../img/icon-linkedin-hov.png"); }

.copyright {
  opacity: 0.4;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  padding-bottom: 18px; }

.modal-content .contacts-form-wrapper {
  position: relative; }

.close-x {
  top: 15px;
  right: 15px;
  position: absolute;
  width: 16px;
  height: 16px;
  cursor: pointer; }

.close-x:hover {
  opacity: .8; }

.close-x:before, .close-x:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 22px;
  top: 7px;
  left: -3px;
  background: #fff; }

.close-x:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.close-x:after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }
