main
	section.banner
		//header
		.header
			.container
				.row
					.col-md-3
						#hamburger.jsToggle(role='button')
							span
							span
							span
							span
						.logo
							img(src='img/logo.png' alt='logo')
					.col-md-9
						.wrap-on-mob.jsMobWrap
							.wrap-on-mob__item
								.contact
									.contact__city Владивосток
									a.contact__phone(href='tel:+84232757254') 8 (423) 2-757-254
									.contact__street ул. Лазо 9, оф.211
							.wrap-on-mob__item
								.contact
									.contact__city Москва
									a.contact__phone(href='tel:+88007076722') 8 800 707 67 22
									.contact__street ул. Шаболовка, д. 10, стр. 2, оф.208
							.wrap-on-mob__item
								.header-butn
									a.butn(href='#') Оставить заявку
		//header end
		//content
		.container
			.row
				.col-md-8
					.banner__title Организация <span>WIFI</span>
					.banner__subtitle на массовых мероприятиях от <span>100</span> до <span>20 000</span> человек
					ul.banner__list
						li Оборудование в собственности
						li Оперативное развертывание сети WIFI
						li Бесшовная сеть
						li Гарант качества и сроков по договору
						li Бесперебойная работа
						li Работаем 24/7
				.col-md-4
					.calc-form
						.calc-form__title Рассчитать стоимость
						form(method='POST', onsubmit='return false')
							.calc-form__input
								.calc-form__hint.calc-form__hint_city Город:
								input.calc-form__input-city(type='text' name='city')
							.calc-form__input
								input.calc-form__input-range(type="range" name="users" value="10000" )
								.calc-form__hint Человек
							.calc-form__butn
								button.butn.butn_yellow(type='submit') Узнать стоимость
			.clients-logo
				.clients-logo__item
					img(src='img/img-client-logo-1.png' alt='')
				.clients-logo__item
					img(src='img/img-client-logo-2.png' alt='')
				.clients-logo__item
					img(src='img/img-client-logo-3.png' alt='')
				.clients-logo__item
					img(src='img/img-client-logo-4.png' alt='')
				.clients-logo__item
					img(src='img/img-client-logo-5.png' alt='')
				.clients-logo__item
					img(src='img/img-client-logo-6.png' alt='')
	section.circle-bg
	section.regions
		.container
			.section-title Работаем во всех <br> регионах РФ
			.numberedSlider__nav-wrap
				.numberedSlider__nav
					.numberedSlider__dots-wrap
			.numberedSlider
				.numberedSlider__item
					.row.event
						.col-md-6
							.event__photo
								.event__photo-item
									a(href='img/img-event-photo-1.png' data-fancybox='gal-1')
										img(src='img/img-event-photo-1.png' alt='' )
								.event__photo-item
									a(href='img/img-event-photo-2.png' data-fancybox='gal-1')
										img(src='img/img-event-photo-2.png' alt='' )
								.event__photo-item
									a(href='img/img-event-photo-3.png' data-fancybox='gal-1')
										img(src='img/img-event-photo-3.png' alt='' )
								.event__photo-item
									a(href='img/img-event-photo-4.png' data-fancybox='gal-1')
										img(src='img/img-event-photo-4.png' alt='' )
								.event__photo-item
									a(href='img/img-event-photo-5.png' data-fancybox='gal-1')
										img(src='img/img-event-photo-5.png' alt='' )
						.col-md-6
							.event__info
								.event__title Восточный Экономический Форум
								.event__date Сентябрь 2017
								.event__users 20 000 пользователей
								.event__subtitle Описания мероприятия
								.event__description
									p В рамках ВЭФ будет представлен целый пул перспективных российских и зарубежных инвестпроектов, пригодных для практической реализации. Авторы проектов выступят перед потенциальными инвесторами с подробными презентациями, содержащими экономические обоснования, необходимые для принятия решений.
									p Руководителем Организационного комитета Восточного экономического форума является заместитель председателя Правительства Российской Федерации – полномочный представитель Президента Российской Федерации в Дальневосточном федеральном округе Юрий Трутнев.
				.numberedSlider__item
					.row.event
						.col-md-6
							.event__photo
								.event__photo-item
									a(href='img/img-event-photo-1.png' data-fancybox='gal-1')
										img(src='img/img-event-photo-1.png' alt='' )
								.event__photo-item
									a(href='img/img-event-photo-2.png' data-fancybox='gal-1')
										img(src='img/img-event-photo-2.png' alt='' )
								.event__photo-item
									a(href='img/img-event-photo-3.png' data-fancybox='gal-1')
										img(src='img/img-event-photo-3.png' alt='' )
								.event__photo-item
									a(href='img/img-event-photo-4.png' data-fancybox='gal-1')
										img(src='img/img-event-photo-4.png' alt='' )
								.event__photo-item
									a(href='img/img-event-photo-5.png' data-fancybox='gal-1')
										img(src='img/img-event-photo-5.png' alt='' )
						.col-md-6
							.event__info
								.event__title Восточный Экономический Форум
								.event__date Сентябрь 2017
								.event__users 20 000 пользователей
								.event__subtitle Описания мероприятия
								.event__description
									p В рамках ВЭФ будет представлен целый пул перспективных российских и зарубежных инвестпроектов, пригодных для практической реализации. Авторы проектов выступят перед потенциальными инвесторами с подробными презентациями, содержащими экономические обоснования, необходимые для принятия решений.
									p Руководителем Организационного комитета Восточного экономического форума является заместитель председателя Правительства Российской Федерации – полномочный представитель Президента Российской Федерации в Дальневосточном федеральном округе Юрий Трутнев.
	section.equipment
			.container
				.section-title Оборудование
			.container
				.row
					.col-md-5
						.equipment__title Готовые комплекты <br> (на 100, 500 и 2000 чел)
						.equipment__subtitle От 100 мб/с до 1000 мб/с
						.equipment__text
							p В рамках ВЭФ будет представлен целый пул перспективных российских и зарубежных инвестпроектов, пригодных для практической реализации. Авторы проектов выступят перед потенциальными инвесторами с подробными презентациями, содержащими экономические обоснования, необходимые для принятия решений.
						.equipment__accent-text Все оборудование в собственности
					.col-md-7
						.equipment__photo
							.equipment__photo-item
								a(href='img/img-equipment-1.png' data-fancybox='gal-2')
									img(src='img/img-equipment-1.png' alt='' )
							.equipment__photo-item
								a(href='img/img-equipment-2.png' data-fancybox='gal-2')
									img(src='img/img-equipment-2.png' alt='' )
							.equipment__photo-item
								a(href='img/img-equipment-3.png' data-fancybox='gal-2')
									img(src='img/img-equipment-3.png' alt='' )
							.equipment__photo-item
								a(href='img/img-equipment-4.png' data-fancybox='gal-2')
									img(src='img/img-equipment-4.png' alt='' )
							.equipment__photo-item
								a(href='img/img-equipment-5.png' data-fancybox='gal-2')
									img(src='img/img-equipment-5.png' alt='' )
							.equipment__photo-item
								a(href='img/img-equipment-6.png' data-fancybox='gal-2')
									img(src='img/img-equipment-6.png' alt='' )
							.equipment__photo-item
								a(href='img/img-equipment-7.png' data-fancybox='gal-2')
									img(src='img/img-equipment-7.png' alt='' )
							.equipment__photo-item
								a(href='img/img-equipment-8.png' data-fancybox='gal-2')
									img(src='img/img-equipment-8.png' alt='' )
							.equipment__photo-item
								a(href='img/img-equipment-9.png' data-fancybox='gal-2')
									img(src='img/img-equipment-9.png' alt='' )
	section.locations
		.container
			.section-title.section-title_wh Работаем на всех крупнейших площадках РФ
			.row.row-eq-height
				.col-xs-4.col-md-4.col-lg-3
					ul.location-tabs
						li.active
							a(data-toggle='tab', href='#city1') Москва
						li
							a(data-toggle='tab', href='#city2') Владивосток
						li
							a(data-toggle='tab', href='#city3') Санкт-Петербург
						li
							a(data-toggle='tab', href='#city4') Казань
						li
							a(data-toggle='tab', href='#city5') Сочи
						li
							a(data-toggle='tab', href='#city6') Уфа
					a(href='#').locations__more Еще 44 города
				.col-xs-8.col-md-8.col-lg-9
					.tab-content
						#city1.tab-pane.fade.in.active
							.locationSlider
								.locationSlider__item
									.location
										.location__img
											img(src='img/img-location-1.png' alt='')
										.location__title ДВФУ
										.location__text Дальневосточный  федеральный университет-ведущий центр  международного сотрудничества в Азиатско-Тихоокианском регионе
										.location__link
											a(href='#') www.dvfu.ru
								.locationSlider__item
									.location
										.location__img
											img(src='img/img-location-2.png' alt='')
										.location__title ДВФУ
										.location__text Дальневосточный  федеральный университет-ведущий центр  международного сотрудничества в Азиатско-Тихоокианском регионе
										.location__link
											a(href='#') www.dvfu.ru
								.locationSlider__item
									.location
										.location__img
											img(src='img/img-location-3.png' alt='')
										.location__title ДВФУ
										.location__text Дальневосточный  федеральный университет-ведущий центр  международного сотрудничества в Азиатско-Тихоокианском регионе
										.location__link
											a(href='#') www.dvfu.ru
								.locationSlider__item
									.location
										.location__img
											img(src='img/img-location-1.png' alt='')
										.location__title ДВФУ
										.location__text Дальневосточный  федеральный университет-ведущий центр  международного сотрудничества в Азиатско-Тихоокианском регионе
										.location__link
											a(href='#') www.dvfu.ru

						#city2.tab-pane.fade
							.locationSlider
								.locationSlider__item
									.location
										.location__img
											img(src='img/img-location-1.png' alt='')
										.location__title ДВФУ
										.location__text Дальневосточный  федеральный университет-ведущий центр  международного сотрудничества в Азиатско-Тихоокианском регионе
										.location__link
											a(href='#') www.dvfu.ru
								.locationSlider__item
									.location
										.location__img
											img(src='img/img-location-2.png' alt='')
										.location__title ДВФУ
										.location__text Дальневосточный  федеральный университет-ведущий центр  международного сотрудничества в Азиатско-Тихоокианском регионе
										.location__link
											a(href='#') www.dvfu.ru
								.locationSlider__item
									.location
										.location__img
											img(src='img/img-location-3.png' alt='')
										.location__title ДВФУ
										.location__text Дальневосточный  федеральный университет-ведущий центр  международного сотрудничества в Азиатско-Тихоокианском регионе
										.location__link
											a(href='#') www.dvfu.ru
								.locationSlider__item
									.location
										.location__img
											img(src='img/img-location-1.png' alt='')
										.location__title ДВФУ
										.location__text Дальневосточный  федеральный университет-ведущий центр  международного сотрудничества в Азиатско-Тихоокианском регионе
										.location__link
											a(href='#') www.dvfu.ru

						#city3.tab-pane.fade
							.locationSlider
								.locationSlider__item
									.location
										.location__img
											img(src='img/img-location-1.png' alt='')
										.location__title ДВФУ
										.location__text Дальневосточный  федеральный университет-ведущий центр  международного сотрудничества в Азиатско-Тихоокианском регионе
										.location__link
											a(href='#') www.dvfu.ru
								.locationSlider__item
									.location
										.location__img
											img(src='img/img-location-2.png' alt='')
										.location__title ДВФУ
										.location__text Дальневосточный  федеральный университет-ведущий центр  международного сотрудничества в Азиатско-Тихоокианском регионе
										.location__link
											a(href='#') www.dvfu.ru
								.locationSlider__item
									.location
										.location__img
											img(src='img/img-location-3.png' alt='')
										.location__title ДВФУ
										.location__text Дальневосточный  федеральный университет-ведущий центр  международного сотрудничества в Азиатско-Тихоокианском регионе
										.location__link
											a(href='#') www.dvfu.ru
								.locationSlider__item
									.location
										.location__img
											img(src='img/img-location-1.png' alt='')
										.location__title ДВФУ
										.location__text Дальневосточный  федеральный университет-ведущий центр  международного сотрудничества в Азиатско-Тихоокианском регионе
										.location__link
											a(href='#') www.dvfu.ru
						#city4.tab-pane.fade
							.locationSlider
								.locationSlider__item
									.location
										.location__img
											img(src='img/img-location-1.png' alt='')
										.location__title ДВФУ
										.location__text Дальневосточный  федеральный университет-ведущий центр  международного сотрудничества в Азиатско-Тихоокианском регионе
										.location__link
											a(href='#') www.dvfu.ru
								.locationSlider__item
									.location
										.location__img
											img(src='img/img-location-2.png' alt='')
										.location__title ДВФУ
										.location__text Дальневосточный  федеральный университет-ведущий центр  международного сотрудничества в Азиатско-Тихоокианском регионе
										.location__link
											a(href='#') www.dvfu.ru
								.locationSlider__item
									.location
										.location__img
											img(src='img/img-location-3.png' alt='')
										.location__title ДВФУ
										.location__text Дальневосточный  федеральный университет-ведущий центр  международного сотрудничества в Азиатско-Тихоокианском регионе
										.location__link
											a(href='#') www.dvfu.ru
								.locationSlider__item
									.location
										.location__img
											img(src='img/img-location-1.png' alt='')
										.location__title ДВФУ
										.location__text Дальневосточный  федеральный университет-ведущий центр  международного сотрудничества в Азиатско-Тихоокианском регионе
										.location__link
											a(href='#') www.dvfu.ru
						#city5.tab-pane.fade
							.locationSlider
								.locationSlider__item
									.location
										.location__img
											img(src='img/img-location-1.png' alt='')
										.location__title ДВФУ
										.location__text Дальневосточный  федеральный университет-ведущий центр  международного сотрудничества в Азиатско-Тихоокианском регионе
										.location__link
											a(href='#') www.dvfu.ru
								.locationSlider__item
									.location
										.location__img
											img(src='img/img-location-2.png' alt='')
										.location__title ДВФУ
										.location__text Дальневосточный  федеральный университет-ведущий центр  международного сотрудничества в Азиатско-Тихоокианском регионе
										.location__link
											a(href='#') www.dvfu.ru
								.locationSlider__item
									.location
										.location__img
											img(src='img/img-location-3.png' alt='')
										.location__title ДВФУ
										.location__text Дальневосточный  федеральный университет-ведущий центр  международного сотрудничества в Азиатско-Тихоокианском регионе
										.location__link
											a(href='#') www.dvfu.ru
								.locationSlider__item
									.location
										.location__img
											img(src='img/img-location-1.png' alt='')
										.location__title ДВФУ
										.location__text Дальневосточный  федеральный университет-ведущий центр  международного сотрудничества в Азиатско-Тихоокианском регионе
										.location__link
											a(href='#') www.dvfu.ru
						#city6.tab-pane.fade
							.locationSlider
								.locationSlider__item
									.location
										.location__img
											img(src='img/img-location-1.png' alt='')
										.location__title ДВФУ
										.location__text Дальневосточный  федеральный университет-ведущий центр  международного сотрудничества в Азиатско-Тихоокианском регионе
										.location__link
											a(href='#') www.dvfu.ru
								.locationSlider__item
									.location
										.location__img
											img(src='img/img-location-2.png' alt='')
										.location__title ДВФУ
										.location__text Дальневосточный  федеральный университет-ведущий центр  международного сотрудничества в Азиатско-Тихоокианском регионе
										.location__link
											a(href='#') www.dvfu.ru
								.locationSlider__item
									.location
										.location__img
											img(src='img/img-location-3.png' alt='')
										.location__title ДВФУ
										.location__text Дальневосточный  федеральный университет-ведущий центр  международного сотрудничества в Азиатско-Тихоокианском регионе
										.location__link
											a(href='#') www.dvfu.ru
								.locationSlider__item
									.location
										.location__img
											img(src='img/img-location-1.png' alt='')
										.location__title ДВФУ
										.location__text Дальневосточный  федеральный университет-ведущий центр  международного сотрудничества в Азиатско-Тихоокианском регионе
										.location__link
											a(href='#') www.dvfu.ru
	section.autorization
		.container
			.row
				.col-md-5.col-md-push-7
					.section-title.section-title_wh Форма Авторизации
					.autorization__text Брендированная Web-страница приветствия для вашего мероприятия, оптимизированная для мобильных телефонов. Приложение для геопозиционирования на мероприятии под IOS\Android Авторизация через SMS и социальные сети получить полную статистику и аналитику для маркетинга Возможность показа рекламы.
				.col-md-7.col-md-pull-5
					.autorization__img
						img(src='img/img-autorization.png' alt='')
	section.circle-bg.circle-bg_2
	section.details
		.container
			.row
				.col-sm-6
					.section-subtitle Команда на мероприятие в 2000 посетителей
					ul.team-list
						li Руководитель проекта – <b>1 человек</b>
						li Сетевой инженер – <b>2 человека</b>
						li Монтажная бригада – <b>4 человека</b>
						li Инженер по ВОЛС\СКС – <b>1 человек</b>
						li Техники – <b>2 человек</b>
				.col-sm-6
					.ordered-list-wrap
						.section-subtitle Дополнительные услуги
						ol.ordered-list
							li Экраны
							li Мониторы
							li Принтеры
							li Экраны(мониторы)
							li Принтеры
	section.news
		.container
			a.read-more(href='#') Все новости
			.section-subtitle Новости по теме
			.row
				.col-md-4
					a.article-thumb(href='#')
						.article-thumb__title В России ввели доступ к публичному Wi-Fi по паспорту
						.article-thumb__subtitle Подключиться к сети в общественных местах можно будет только после предъявления паспорта
						.article-thumb__date Сентябрь 2017
						.article-thumb__text
							p В России доступ к сетям Wi-Fi в общественных местах будет осуществляться по паспорту. Соответствующее постановление опубликовано на сайте правительства РФ.
							p Вместе с тем, в постановлении говорится и о том, что идентификация будет осуществляться оператором путем установления фамилии, имени и отчества пользователя, подтверждаемых документом, удостоверяющим личность. Кроме того, сведения о пользователе и информацию об объеме и времени пользования Wi-Fi оператор должен будет хранить в течение полугода.

				.col-md-4
					a.article-thumb(href='#')
						.article-thumb__title Наличие Wi-Fi стало главным критерием выбора гостиницы туристами
						.article-thumb__subtitle Треть туристов считают наличие бесплатного Wi-Fi главным критерием гостиницы
						.article-thumb__date Сентябрь 2017
						.article-thumb__text
							p Таковы результаты исследования интернет портала Hoteles.com, в котором приняли участие 8,6 тыс. туристов из 28 стран мира.
							p Так, 34% респондентов заявили, что для них самым главным моментом является наличие бесплатного Wi-Fi соединения в гостиницах, при этом речь шла о путешествиях исключительно с целью отдыха. Более того, в случае бизнес поездок этот показатель возрастает до 56%, а 66% опрошенных изъявили желание видеть бесплатным Wi-Fi во всех гостиницах в 2013 году. Примечательно, что лишь 11% туристов выразили готовность оплачивать услугу предоставления интернета во время пребывания в отеле.
				.col-md-4
					a.article-thumb(href='#')
						.article-thumb__title В России ввели доступ к публичному Wi-Fi по паспортуFacebook поможет искать Wi-Fi по всему миру
						.article-thumb__subtitle Новая функция поможет путешественникам обнаружить открытые точки доступа к Интернету
						.article-thumb__date Сентябрь 2017
						.article-thumb__text
							p Социальная сеть Facebook запустила по всему миру новую функцию &quot;Найти Wi-Fi&quot;, которая доступна на устройствах с iOS и Android, о чем отмечено в официальном блоге.
							p “Мы запустили функцию ”Найти Wi-Fi” в нескольких странах в прошлом году и обнаружили, что это не только полезно для пользователей, которые путешествуют, но особенно полезно и там, где не хватает данных с телефонов”, - говорится в официальном сообщении.
	section.calc-section
		.container
			.row
				.col-md-8
					.calc-section__img
						img(src='img/img-calc-section.png' alt='')
				.col-md-4
					.calc-form
						.calc-form__title Получите расчет стоимости Мы работаем по всей территории РФ
						form(method='POST', onsubmit='return false')
							.calc-form__input
								.calc-form__hint.calc-form__hint_city Город:
								input.calc-form__input-city(type='text' name='city')
							.calc-form__input
								input.calc-form__input-range(type="range" name="users" value="10000" )
								.calc-form__hint Человек
							.calc-form__butn
								button.butn.butn_yellow(type='submit') Узнать стоимость
						.calc-form__mail Или напишите на почту <a href='mailto:info@mail.ru'>info@mail.ru</a>
		// footer
		.container
			.footer
				.footer-item
					.logo
						img(src='img/logo.png' alt='logo')
				.footer-item
					.contact
						.contact__city Владивосток
						a.contact__phone(href='tel:+84232757254') 8 (423) 2-757-254
						.contact__street ул. Лазо 9, оф.211
				.footer-item
					.contact
						.contact__city Москва
						a.contact__phone(href='tel:+88007076722') 8 800 707 67 22
						.contact__street ул. Шаболовка, д. 10, стр. 2, оф.208
				.footer-item
					.social
						a.social__g(href='#' target='_blank')
						a.social__tw(href='#' target='_blank')
						a.social__fb(href='#' target='_blank')
						a.social__in(href='#' target='_blank')
			.copyright
				span Sorex. Все права защищены &copy;
		// footer end
//content end
