/*--== buttons ==--*/
.butn{
    display: inline-block;
    min-width: 230px;
    padding: 25px 20px 24px;
    box-shadow: 0 0 18px #00b9ff, 0 0 62px rgba(0, 185, 255, 0.65);
    border-radius: 33px;
    background-color: #00b9ff;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.68px;
    text-align: center;
    border: none;
    @include trans;
    &:hover{
        text-decoration: none;
        box-shadow: 0 0 18px #ffff00, 0 0 62px rgba(255, 255, 0, 0.65);
        background-color: #ffff00;
        color: #031125;
    }
    &_yellow{
        box-shadow: 0 0 18px #ffff00, 0 0 62px rgba(255, 255, 0, 0.65);
        background-color: #ffff00;
        color: #031125;
        &:hover{
            box-shadow: 0 0 18px #00b9ff, 0 0 62px rgba(0, 185, 255, 0.65);
            color: #ffffff;
            background-color: #00b9ff;
        }
    }
}
/*--== /buttons ==--*/
