main {
    overflow-x: hidden;
}

.banner {
    //padding-top: 246px;
    background-image: url(../img/bg-banner.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    min-height: 1076px;
    @media(max-width: 1300px) {
        background-size: auto 770px;
        min-height: 770px;
    }

    &__title {
        color: #ffffff;
        font-size: 84px;
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 13px;
        @include bp(1199) {
            font-size: 65px;
        }
        @include bp(991) {
            text-align: center;
        }
        @media(max-width: 600px) {
            font-size: 33px;
        }
        span {
            color: #00b9ff;
        }
    }
    &__subtitle {
        color: #ffffff;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 0.48px;
        line-height: 1.1;
        margin-bottom: 67px;
        @include bp(1199) {
            font-size: 26px;
        }
        @include bp(991) {
            margin-bottom: 45px;
            text-align: center;
        }
        @media(max-width: 600px) {
            font-size: 20px;
            margin-bottom: 30px;
        }
        span {
            font-weight: 700;

        }
    }
    &__list {
        list-style: none;
        overflow: hidden;
        margin: 0 -15px;
        @media(max-width: 600px) {
            margin: 0 auto 50px;
            max-width: 318px;
        }
        li {
            position: relative;
            padding: 0 15px 0 57px;
            display: block;
            width: 50%;
            float: left;
            color: #ffffff;
            font-size: 15px;
            font-weight: 500;
            line-height: 1.1;
            text-transform: uppercase;
            letter-spacing: 0.6px;
            margin-bottom: 25px;
            @media(max-width: 600px) {
                width: 100%;
                float: none;
                font-size: 12px;
                margin-bottom: 16px;
            }
            &:before {
                @include pseudo;
                width: 24px;
                height: 14px;
                left: 15px;
                top: 0;
                background: url("../img/icon-check.png") no-repeat center;
                background-size: contain;
            }
        }
    }
    .calc-form {
        padding-top: 14px;
    }
    .row {
        margin-bottom: 122px;
        @media (max-width: 1300px) {
            margin-bottom: 50px;
        }
    }
}

.calc-form {
    &__title {
        color: #ffffff;
        font-size: 30px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.9px;
        margin-bottom: 50px;
        @include bp(991) {
            font-size: 26px;
            text-align: center;
            margin-bottom: 45px;
        }
    }
    form {
        max-width: 318px;
    }
    &__input {
        margin-bottom: 45px;
    }
    &__hint {
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.48px;
        &_city {
            width: 65px;
            display: inline-block;
        }
    }
    &__input-city {
        color: #ffffff;
        display: inline-block;
        font-family: "Futura PT Demi";
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.9px;
        background: transparent;
        border-top: 0;
        border-left: 0;
        border-bottom: 1px solid #4c617b;
        border-right: 0;
        width: calc(100% - 70px);
    }
    .butn {
        width: 100%;
    }
}

.banner .calc-form {
    @include bp(991) {
        max-width: 318px;
        margin: 0 auto;
    }
    @media(max-width: 600px) {
        margin-bottom: 50px;
    }
}

.slider-container {
    width: 100% !important;
    margin-bottom: 8px;
}

.slider-container .back-bar .selected-bar {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #ffffff;
    margin-bottom: 8px;
}

.slider-container .back-bar .pointer-label {
    color: #ffffff;
    font-family: "Futura PT Demi";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.54px;
    background: transparent;
    top: -27px;

}

.slider-container .back-bar .pointer {
    width: 12px;
    height: 12px;
    box-shadow: 0 0 18px #00b9ff, 0 0 62px rgba(0, 185, 255, 0.65);
    background: #00b9ff;
    cursor: pointer;
    border: none;
    top: -4px;
}

.clients-logo {
    @include jusWrap;
    @include bp(991) {
        margin-bottom: 90px;
    }
    @include bp(767) {
        overflow: hidden;
        margin-left: -10;
        margin-right: -10px;
    }
    &__item {
        display: inline-block;
        vertical-align: top;
        @include bp(991) {
            max-width: 95px;
        }
        @include bp(767) {
            display: block;
            float: left;
            width: 33.3333%;
            padding: 0 10px;
            max-width: 100%;
            margin-bottom: 10px;
            text-align: center;
            &:nth-child(3n+1) {
                clear: left;
            }

        }
        img {
            max-width: 100%;
        }
    }
}

section {
    position: relative;
    z-index: 99;
}

.circle-bg {
    z-index: 1;
    position: relative;
    &:before {
        @include pseudo;
        background: #fff;
        border-radius: 50%;
        height: 2485px;
        width: 2485px;
        z-index: 0;
        left: 50%;
        transform: translate(-44%, -430px);
        @media(max-width: 1300px) {
            transform: translate(-44%, -200px);
            height: 2288px;
            width: 2288px;
        }
        @include bp(991) {
            transform: translate(-44%, -100px);
            height: 2344px;
            width: 2344px;
        }
        @media (max-width: 702px) {
            height: 2265px;
            width: 2265px;
        }
        @media (max-width: 620px) {
            transform: translate(-42%, -100px);
            height: 2149px;
            width: 2149px;
        }
    }
    &_2 {
        &:before {
            height: 2050px;
            width: 2050px;
            transform: translate(-52%, -253px);
            @include bp (1199) {
                transform: translate(-52%, -130px);
            }
            @include bp (991) {
                height: 1573px;
                width: 1573px;
                transform: translate(-52%, -398px);
            }
            @include bp (767) {
                height: 1963px;
                width: 1963px;
            }
            @media (max-width: 484px) {
                transform: translate(-52%, -250px);
            }
        }
    }
}

.section-title {
    color: #031125;
    font-size: 84px;
    font-weight: 700;
    letter-spacing: -3.36px;
    line-height: 1.2;
    @include bp(1199) {
        font-size: 65px;
    }
    @media (max-width: 991px) {
        font-size: 34px;
    }
}

.regions {
    .section-title {
        margin-bottom: 45px;
        @media (max-width: 991px) {
            margin-bottom: 30px;
        }
    }

}

.event {
    &__photo {
        margin: 0 -5px;
        overflow: hidden;
        @include bp(991) {
            margin-bottom: 30px;
        }
    }
    &__photo-item {
        padding: 0 5px;
        width: 25%;
        float: left;
        &:first-child {
            width: 100%;
            margin-bottom: 10px;
        }
        img {
            max-width: 100%;
        }
    }
    &__title {
        color: #00b9ff;
        font-family: "Futura PT";
        font-size: 45px;
        font-weight: 700;
        letter-spacing: -1.8px;
        line-height: 1;
        max-width: 461px;
        margin-bottom: 40px;
        @include bp(991) {
            max-width: 100%;
            font-size: 25px;
            margin-bottom: 27px;
        }
    }
    &__date, &__users {
        color: #aeb2b9;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.54px;
        padding-left: 30px;
        line-height: 1;
        position: relative;
        @include bp (991) {
            font-size: 16px;
        }
        &:before {
            @include pseudo;
            top: 0;
            left: 0;
        }
    }
    &__date {
        margin-bottom: 18px;
        &:before {
            width: 14px;
            height: 14px;
            background: url("../img/icon-calend.png") no-repeat center;
            background-size: contain;
        }

    }
    &__users {
        margin-bottom: 43px;
        &:before {
            width: 16px;
            height: 16px;
            background: url("../img/icon-user.png") no-repeat center;
            background-size: contain;
        }
    }
    &__subtitle {
        color: #031125;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: -1.2px;
        line-height: 1;
        margin-bottom: 32px;
        @include bp(991) {
            font-size: 18px;
            margin-bottom: 26px;
        }
    }
    &__description {
        color: #031125;
        font-size: 18px;
        line-height: 1.7;
        letter-spacing: -0.36px;
        @include bp(991) {
            font-size: 14px;
        }
        p {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.numberedSlider {
    &__nav-wrap {
        text-align: right;
        margin-bottom: 70px;
        @include bp(991) {
            margin-bottom: 30px;
        }
    }
    &__nav {
        display: inline-block;
        padding: 0 30px;
        position: relative;
        @include bp(991) {
            display: block;
        }
        .slick-arrow {
            cursor: pointer;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 0;
            &:before, &:after {
                @include pseudo;
                height: 2px;
                width: 10px;
                background: #dddedf;
                left: 50%;
                margin-left: -5px;
                @include trans;
            }
            &:before {
                transform: rotate(-45deg);
                top: 50%;
                margin-top: -2px;
            }
            &:after {
                transform: rotate(45deg);
                top: 50%;
                margin-top: 4px;
            }
            &:hover {
                &:before, &:after {
                    box-shadow: 0 0 8px #00b9ff, 0 0 29px rgba(0, 185, 255, 0.55);
                    background: #00b9ff;
                    opacity: 0.68;
                }
            }
        }
    }
    &-arrow-right {
        right: 0;
        &:before {
            transform: rotate(45deg) !important;

        }
        &:after {
            transform: rotate(-45deg) !important;

        }
    }
    &-arrow-left {
        left: 0;
    }
    &__dots {
        list-style: none;
        padding: 0 10px;
        li {
            display: none;
            min-width: 32px;
            height: 30px;
            line-height: 30px;
            color: #031125;
            font-size: 30px;
            font-weight: 700;
            letter-spacing: -1.2px;
            vertical-align: top;
            text-align: center;
        }
        .slick-active {
            display: block;
        }

    }
}

.equipment {
    padding-top: 110px;
    @include bp(991) {
        padding-top: 80px;
    }
    .section-title {
        margin-bottom: 100px;
        @include bp(991) {
            margin-bottom: 22px;
        }
    }
    &__title {
        color: #031125;
        font-size: 45px;
        font-weight: 700;
        letter-spacing: -1.8px;
        line-height: 1;
        margin-bottom: 35px;
        @include bp(991) {
            font-size: 25px;
            margin-bottom: 25px;
        }
    }
    &__subtitle {
        color: #b4b8be;
        font-family: "Futura PT";
        font-size: 30px;
        font-weight: 700;
        letter-spacing: -1.2px;
        line-height: 1;
        margin-bottom: 55px;
        @include bp(991) {
            font-size: 20px;
            margin-bottom: 25px;
        }
    }
    &__text {
        color: #031125;
        font-family: "Futura PT - Book";
        font-size: 18px;
        font-weight: 400;
        line-height: 1.8;
        letter-spacing: -0.36px;
        margin-bottom: 37px;
        @include bp(991) {
            font-size: 14px;
            margin-bottom: 30px;
        }
    }
    &__accent-text {
        color: #00b9ff;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: -0.8px;
        line-height: 1;
        @include bp(991) {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }
    &__photo {
        overflow: hidden;
        margin: 0 -15px;
        @include bp(991) {
            margin: 0 -10px;
        }
    }
    &__photo-item {
        width: 33.33333%;
        float: left;
        padding: 0 15px;
        margin-bottom: 30px;
        @include bp(991) {
            padding: 0 10px;
            margin-bottom: 20px;

        }
        @media (max-width: 482px) {
            width: 50%;
            &:nth-child(odd) {
                clear: left;
            }
            display: none;
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
                display: block;
            }
        }
        img {
            max-width: 100%;
        }
    }
}

.locations {
    padding-top: 315px;
    background-image: url("../img/bg-locations.png");
    background-repeat: no-repeat;
    background-position: center 197px;
    @include bp(991) {
        padding-top: 215px;
        background: transparent;

    }
    .section-title {
        margin-bottom: 140px;
        @include bp(991) {
            margin-bottom: 55px;
        }
    }
    .row {
        [class*='col-'] {
            &:first-child {
                padding-bottom: 30px;
            }
        }
    }
    &__more {
        position: absolute;
        bottom: 0;
        left: 15px;
        color: #00b9ff;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: -0.8px;
        &:hover {
            color: #00b9ff;
            text-decoration: none;
            opacity: .8;
        }
    }
}

.section-title_wh {
    color: #ffffff;
}

.locations .row-eq-height {
    @include bp(991) {
        display: block;
        [class*='col-']:first-child {
            margin-bottom: 50px;
        }
    }
    @media (max-width: 550px) {
        [class*='col-'] {
            width: 100%;
            float: none;
        }
    }
}

.location-tabs {
    list-style: none;

    a {
        color: #ffffff;
        font-size: 30px;
        line-height: 1;
        font-weight: 300;
        letter-spacing: -1.2px;
        @include trans;
        @include bp(991) {
            font-size: 20px;
        }
        &:hover {
            color: #00b9ff;
            text-decoration: none;
        }
    }
    li {
        overflow: hidden;
        @include trans;
        margin-bottom: 45px;
        position: relative;
        line-height: 1;
        &:before {
            @include trans;
            @include pseudo;
            top: 12px;
            left: -8px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7.5px 0 7.5px 8px;
            border-color: transparent transparent transparent #00b9ff;
            @include bp(991) {
                top: 4px;

            }
        }
        @include bp(991) {
            margin-bottom: 16px;
        }

        &.active {
            padding-left: 20px;
            &:before {
                left: 0;
            }
            a {
                color: #00b9ff;
                font-family: "Futura PT";
                font-size: 36px;
                font-weight: 700;
                letter-spacing: -1.44px;
                @include bp(991) {
                    font-size: 22px;
                }
            }
        }
    }
}

/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane, .pill-content > .pill-pane {
    display: block; /* undo display:none          */
    height: 0; /* height:0 is also invisible */
    overflow: hidden; /* no-overflow                */
}

.tab-content > .active, .pill-content > .active {
    height: auto; /* let the content decide it  */
}

/* bootstrap hack end */
.locationSlider__item {
    padding: 0 5px;
}

.location {
    max-width: 270px;
    margin: 0 auto;
    &__img {
        margin-bottom: 40px;
        @include bp(991) {
            margin-bottom: 30px;
        }
        img {
            max-width: 100%;
            max-height: 193px;
        }
    }
    &__title {
        color: #ffffff;
        font-family: "Futura PT";
        font-size: 30px;
        font-weight: 700;
        letter-spacing: -1.2px;
        line-height: 1;
        margin-bottom: 25px;
        @include bp(991) {
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
    &__text {
        color: #ffffff;
        font-size: 18px;
        line-height: 1.7;
        letter-spacing: -0.36px;
        margin-bottom: 20px;
        @include bp(991) {
            font-size: 14px;
        }
    }
    &__link {
        a {
            color: #00b9ff;
            font-size: 18px;
            font-weight: 500;
            text-decoration: underline;
            letter-spacing: 0.54px;
            &:hover {
                text-decoration: none;
                color: #00b9ff;
            }
        }
    }
}

.locationSlider__dots {
    list-style: none;
    padding-top: 60px;
    padding-bottom: 20px;
    @include bp(991) {
        padding-top: 30px;
    }
    button {
        display: none;
    }
    text-align: center;
    li {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
        @include trans;
        + li {
            margin-left: 12px;
        }
        &.slick-active {
            box-shadow: 0 0 18px #00b9ff, 0 0 62px rgba(0, 185, 255, 0.65);
            background: #00b9ff;
        }
    }
}

.autorization {
    padding-top: 165px;
    @include bp(991) {
        padding-top: 85px;
    }
    .section-title {
        padding-top: 132px;
        margin-bottom: 60px;
        @include bp(991) {
            padding-top: 0;
            margin-bottom: 35px;
        }
    }
    &__img {
        img {
            max-width: 100%;
        }
    }
    &__text {
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.7;
        letter-spacing: -0.36px;
        @include bp(991) {
            font-size: 14px;
            margin-bottom: 50px;
        }
    }
}

.section-subtitle {
    color: #042247;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -1.8px;
    line-height: 1;
    margin-bottom: 85px;
    @include bp(991) {
        font-size: 25px;
        margin-bottom: 50px;
    }
}

.team-list {
    list-style: none;
    li {
        color: #042247;
        font-size: 30px;
        line-height: 1;
        font-weight: 300;
        letter-spacing: -1.2px;
        margin-bottom: 40px;
        @include bp(991) {
            font-size: 20px;
            margin-bottom: 30px;
        }

        b {
            font-weight: 700;
        }
    }

}

.ordered-list-wrap {
    padding-left: 40px;
    border-left: 4px solid #00b9ff;
    @media (min-width: 1300px) {
        padding-left: 140px;
    }
    @include bp(767) {
        padding-left: 0;
        padding-top: 40px;
        border-left: none;
        border-top: 4px solid #00b9ff;
    }

}

.ordered-list {
    list-style: none;
    counter-reset: li;
    li {
        counter-increment: li;
        color: #042247;
        font-size: 30px;
        font-weight: 300;
        line-height: 1;
        position: relative;
        padding-left: 52px;
        margin-bottom: 40px;
        @include bp(991) {
            font-size: 20px;
            margin-bottom: 30px;
            padding-left: 28px;
        }

        &:before {
            content: counter(li) '.';
            font-weight: 700;
            color: #00b9ff;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

.news {
    padding-top: 160px;
    .section-subtitle {
        margin-bottom: 125px;
        @include bp(991) {
            margin-bottom: 40px;
        }
    }
    @include bp(991) {
        padding-top: 80px;
        .row {
            [class*='col-'] {
                + [class*='col-'] {
                    .article-thumb {
                        padding-top: 30px;
                        border-top: 4px solid #b7ebff;
                    }
                }
            }
        }
    }
    .container {
        position: relative;

    }
    .read-more {
        position: absolute;
        right: 15px;
        top: 22px;
        color: #00b9ff;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: -0.8px;
        line-height: 1;
        @include bp(1199) {
            top: 6px;
        }
        @include bp(991) {
            top: initial;
            top: unset;
            right: initial;
            right: unset;
            bottom: 0;
            left: 15px;
        }

        &:hover {
            text-decoration: none;
            color: #00b9ff;
            opacity: .8;
        }
    }
}

.article-thumb {
    display: block;
    color: #031125;
    @include trans;
    padding-bottom: 30px;
    &__title {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: -1.2px;
        line-height: 1;
        margin-bottom: 30px;
        @include bp(991) {
            font-size: 25px;
            margin-bottom: 20px;
        }
    }
    &__subtitle {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: -0.8px;
        line-height: 1;
        margin-bottom: 30px;
        @include bp(991) {
            margin-bottom: 0;
        }
    }
    &__date {
        color: #b9bdc2;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.54px;
        line-height: 1;
        position: relative;
        padding-left: 33px;
        margin-bottom: 28px;
        @include bp(991) {
            display: none;
        }
        &:before {
            @include pseudo;
            width: 14px;
            height: 14px;
            background: url("../img/icon-calend.png") no-repeat center;
            background-size: contain;
            top: 0;
            left: 0;
        }
    }
    &__text {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.7;
        @include bp(991) {
            display: none;
        }
        P {
            margin-bottom: 15px;
        }
    }
    &:hover {
        text-decoration: none;
        color: #00b9ff;

    }
}

.calc-section {
    padding-top: 120px;
    background-image: url("../img/bg-footer.png");
    background-repeat: no-repeat;
    background-position: bottom center;

    .calc-form {
        padding-top: 207px;
        @include bp(991) {
            .calc-form__title {
                font-size: 20px;
            }
            padding-top: 76px;
            form {
                max-width: 318px;
                margin: 0 auto;
            }
        }
    }
    &__img {
        img {
            max-width: 100%;
        }
    }
}

.calc-form__mail {
    color: #fefefe;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.54px;
    padding-top: 34px;
    @include bp(991) {
        text-align: center;
    }
    a {
        color: #00b9ff;
        letter-spacing: 0.54px;
        text-decoration: underline;
    }

}

.footer {
    position: relative;
    z-index: 99;
    padding-top: 160px;
    @include jusWrap;
    margin-bottom: 42px;
    @include bp(991) {
        padding-top: 76px;
        margin-bottom: 0;
    }

}

.footer-item {
    display: inline-block;
    vertical-align: top;
    @include bp(991) {
        display: block;
        margin-bottom: 35px;
        &:last-child{
            margin-bottom: 0;
        }
       &:nth-child(2), &:nth-child(3){
           width: 49%;
           display: inline-block;
        }
        &:nth-child(3){
            overflow: hidden;
            .contact{
                float: right;
            }
        }
    }
}

.social {
    padding-top: 17px;

    a {
        display: inline-block;
        width: 26px;
        height: 26px;
        background-size: cover;
        background-repeat: no-repeat;
        @include trans;
        + a {
            margin-left: 30px;
        }
    }
    @include bp(991){
        padding-top: 0;
        text-align: center;

    }
}

.social__g {
    background-image: url("../img/icon-google-plus.png");
    &:hover {
        background-image: url("../img/icon-google-plus-hov.png");
    }
}

.social__tw {
    background-image: url("../img/icon-twitter.png");
    &:hover {
        background-image: url("../img/icon-twitter-hov.png");
    }
}

.social__fb {
    background-image: url("../img/icon-facebook.png");
    &:hover {
        background-image: url("../img/icon-facebook-hov.png");
    }
}

.social__in {
    background-image: url("../img/icon-linkedin.png");
    &:hover {
        background-image: url("../img/icon-linkedin-hov.png");
    }
}

.copyright {
    opacity: 0.4;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    padding-bottom: 18px;
}