.header{
    padding-top: 50px;
    @media (max-width: 500px){
        padding-top: 17px;
    }
}
.logo{
    img{
        max-width: 100%;
    }
    @media (max-width: 500px){
        max-width: 81px;
    }
}
.wrap-on-mob{
    @include jusWrap;
    @include bp(991){
        padding-top: 197px;
    }
    &__item{
        display: inline-block;
        vertical-align: top;
        @include bp(991){
            &:last-child{
                padding: 20px 0;
                width: 100%;
                text-align: center;
                .butn{
                    min-width: 290px;
                }
            }
        }
    }
    @include bp(991){
        display: none;
    }
    @include bp(992){
        display: block!important;
    }
}
.contact{
    color: #ffffff;
    font-size: 16px;
    text-align: left;
    @media (max-width: 600px){
        max-width: 125px;
    }
    @media (max-width: 600px){
        font-size: 14px;
    }
    &__city{
        text-transform: uppercase;
        font-size: 14px;
        @media (max-width: 600px){
            font-size: 12px;
        }
    }
    &__phone{
        font-weight: 700;
        color: #ffffff;
        @include trans;
        &:hover{
            opacity: .8;
            text-decoration: none;
            color: #ffffff;
        }
    }
}
.header-butn{
    @include bp(991px){
        padding-top: 40px;
    }
}

 #hamburger {
 	display: none;
 	float: right;
 	width: 30px;
 	height: 18px;
 	position: relative;
 	margin: 17px 0 0;
 	-webkit-transform: rotate(0deg);
 	-moz-transform: rotate(0deg);
 	-o-transform: rotate(0deg);
 	transform: rotate(0deg);
 	-webkit-transition: .5s ease-in-out;
 	-moz-transition: .5s ease-in-out;
 	-o-transition: .5s ease-in-out;
 	transition: .5s ease-in-out;
 	cursor: pointer;
     @include bp(991){
         display: block;
     }
     @media (max-width: 500px){
         margin-top: 0;
     }
 	span {
 		display: block;
 		position: absolute;
 		height: 2px;
 		width: 100%;
 		background: #fff;
 		//border-radius: 9px;
 		opacity: 1;
 		left: 0;
 		-webkit-transform: rotate(0deg);
 		-moz-transform: rotate(0deg);
 		-o-transform: rotate(0deg);
 		transform: rotate(0deg);
 		-webkit-transition: .25s ease-in-out;
 		-moz-transition: .25s ease-in-out;
 		-o-transition: .25s ease-in-out;
 		transition: .25s ease-in-out;
 	}

 }
 #hamburger span:nth-child(1) {
 	top: 0;
 }
 #hamburger span:nth-child(2),#hamburger span:nth-child(3) {
 	top: 9px;
 }
 #hamburger span:nth-child(4) {
 	top: 18px;
 }
 #hamburger.open span:nth-child(1) {
 	top: 9px;
 	width: 0;
 	left: 50%;
 }
#hamburger.open span{
    background: #ff0000;
}

 #hamburger.open span:nth-child(2) {
 	-webkit-transform: rotate(45deg);
 	-moz-transform: rotate(45deg);
 	-o-transform: rotate(45deg);
 	transform: rotate(45deg);
 }
 #hamburger.open span:nth-child(3) {
 	-webkit-transform: rotate(-45deg);
 	-moz-transform: rotate(-45deg);
 	-o-transform: rotate(-45deg);
 	transform: rotate(-45deg);
 }
 #hamburger.open span:nth-child(4) {
 	top: 9px;
 	width: 0;
 	left: 50%;
 }
