@font-face {
	font-family: 'Futura PT Demi';
	src: url('../fonts/futura/FuturaPTDemi.eot');
	src: url('../fonts/futura/FuturaPTDemi.eot?#iefix') format('embedded-opentype'),
	url('../fonts/futura/FuturaPTDemi.woff2') format('woff2'),
	url('../fonts/futura/FuturaPTDemi.woff') format('woff'),
	url('../fonts/futura/FuturaPTDemi.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Futura PT';
	src: url('../fonts/futura/FuturaPTBook.eot');
	src: url('../fonts/futura/FuturaPTBook.eot?#iefix') format('embedded-opentype'),
	url('../fonts/futura/FuturaPTBook.woff2') format('woff2'),
	url('../fonts/futura/FuturaPTBook.woff') format('woff'),
	url('../fonts/futura/FuturaPTBook.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Futura PT';
	src: url('../fonts/futura/FuturaPTLight.eot');
	src: url('../fonts/futura/FuturaPTLight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/futura/FuturaPTLight.woff2') format('woff2'),
	url('../fonts/futura/FuturaPTLight.woff') format('woff'),
	url('../fonts/futura/FuturaPTLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Futura PT';
	src: url('../fonts/futura/FuturaPTBold.eot');
	src: url('../fonts/futura/FuturaPTBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/futura/FuturaPTBold.woff2') format('woff2'),
	url('../fonts/futura/FuturaPTBold.woff') format('woff'),
	url('../fonts/futura/FuturaPTBold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	&:active, &:focus{
		outline: none!important;
		text-decoration: none!important;
	}
}
html{
	height: 100%;
}
body{

	min-height: 100%;
	font-family: 'Futura PT';
	font-weight: 400;
	font-size: 15px;
	color: #031125;
	background-image: linear-gradient(-125deg, #042247 0%, #042247 54%, #042247 100%);
}
.clearfix:before, .clearfix:after{
	content: ' ';
	display: table;
	clear: both;
}

h1,h2,h3,h4,h5,h6,ul,ol{
	margin: 0;
	padding: 0;
}
.row-eq-height {
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
}
@media (min-width: 1300px) {
	.container {
		width: 1234px;
	}
}
@import 'mixins';
@import 'buttons';
@import 'header';
@import 'content';
@import 'footer';
